# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# TensorFlow Models
model/*.keras
model/*.h5

# Database
database/*.db

# Uploads
uploads/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
