Flask==3.0.3
Flask-Cors==5.0.0
tensorflow==2.16.1
keras==3.3.3
numpy==1.26.4
opencv-python==4.10.0.84
Pillow==10.4.0
matplotlib==3.9.0
scikit-learn==1.5.1
pandas==2.2.2
SQLAlchemy==2.0.31
Werkzeug==3.0.3
gunicorn==22.0.0
